@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   
    }

  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-moz-inner-spin-button,
  input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: none;
    display: none;
  }
  
  .selected{
    background-color: #4f46e5;
    color: white;
    
  }

  .backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }


    
  

  .modal{
    width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .modal-tech-title{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: var(--clr-fg-alt);
    text-transform: capitalize;
  }
  
  .close-modal-btn{
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
   
  }

  .modal-body{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--clr-fg-alt);
    text-transform: capitalize;
  }

  